@model List<EmpSalaryModel>
@{
}


<div class="text-center mt-4" style="border-bottom:1px solid darkgray">
    <div style="display:flex;justify-content:space-between">
        <div>
            <button class="btn btn-success" id="addButton" data-toggle="modal" data-target="#salaryModal">Add</button>
        </div>
        <div>
            <input id="inputSearch" placeholder="search" style="border-radius:5px;border:1px solid grey;" />
        </div>
    </div>
    <div style="overflow-x:scroll;overflow-y:scroll;" class="mt-3">
        <table style="width:1200px;height:400px;" class="table table-bordered">
            <thead style="background-color:gainsboro">
                <tr>
                    <td>Empoyee Name</td>
                    <td>Month-Year</td>
                    <td>Salary</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Employee.FirstName @item.Employee.LastName
                        </td>
                        <td>@item.YearMonth</td>
                        <td>@item.Salary</td>
                        <td>
                            <a href="@Url.Action("Index", "Salary", new { id = item.Id })" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script>

</script>
